<!DOCTYPE html>
<html>
    <head>
        <title>RegSuccess</title>
        <link rel="stylesheet" type="text/css" href="/reg-success-css.css">
        <script>
            setTimeout(function(){
                window.location = "/";
            },5000);
        </script>
    </head>
    <body>
        <h1>Registered Successfully</h1>
        <p>Redirecting to home page in 5 seconds......</p>
        <div class="lds-ripple"><div></div><div></div></div>
    </body>
</html>